body , html{
  background-color: rgb(235, 225, 236);
  height: 100vh;
  margin: 0;
  padding:0;
}
.heading-container h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(18px + 2vmin);
  color: rgb(0, 0, 0);
  background-color: rgb(229, 237, 243);
  margin: 10px 0 0;    

}
.heading-container{
  height: 4vh;
  margin-top: 0;
  display: inline-block;
  justify-content: space-between;
  border-color: black;
  
}
.header-border button{

  height: 5vh;
  
}

.input-container{
  display: flex;
  color:rgb(131, 117, 105);
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 520px;
  overflow-y: auto;
  bottom: 0;
  left: 0;
  position: fixed;
}

.input-container input {
  width: 337px;
  padding: 10px;
  font-size:16px;
  border-radius: 5px;
  height: 4.3vh;
  margin: 0;
}
.input-container button {
  padding: 10px 20px;
  border-radius: 5px;
  width: 80px;
  height: 8.3vh;
}

.center-border{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #000;
  padding:0px;
  width: 440px;
  height: 92vh;
  background-color: rgb(246, 247, 249);
  border-radius: 10px;
  text-align: center;
}

.header-border{
  background-color: rgb(201, 193, 238);
  margin: 0px;
  height: 8vh;
  margin: 0;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message-box{
  word-wrap: break-word;
  border-color: #000;
  padding: 10px 15px;  
  width: fit-content;
  display: flex;
  white-space: pre-wrap;
   flex-direction: column;
}

.message-container{
  height: 74.5vh;
  overflow-y: auto;
  margin-top: 10px;
}
.bot{
  width: fit-content;
  text-align: left;
  background-color: rgb(201, 193, 238);
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  float: left;
  display: block;
  clear: both;
  margin-left: 30px;
  margin-right: 30px;
}
.user{
  text-align: left;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  float: inline-end;
  width: auto;
  display: block;
  clear: both;
  margin-right: 30px;
  margin-left: 30px;
}
.bot-avatar{
  float: left;  
}
.user-avatar{
  float: right;  
}

.message{
  margin-bottom: 10px;
}